#title {
    color: aquamarine;
    border: 4mm ridge rgba(39, 67, 209, 0.6);
}

.gray_p {
    font-family: monospace;
    font-size: 24px;
    color: rgb(135, 129, 129);
}

#bold_p {
    font-weight: bold;
    font-family: monospace;
    font-size: 24px;
}

.leaf_image {
    width: 800px;
    height: 500px;
    border: 4mm ridge rgba(211, 220, 50, .6);
}

iframe {
    border: 4mm ridge rgba(100, 300, 50, .5);
    border-radius: 10px;
}

footer {
    font-family: monospace;
    font-size: 24px;
    background-color: antiquewhite;
    padding: auto;
}